*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    background:rgb(241, 225, 225) ;
    padding: 2rem;
    border-radius: 8px;
    box-shadow:  0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label{
    display: block;
}


input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100%;
    background: rgb(78, 66, 66);
    color: white;
    padding: 10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{

    background: rgb(66, 58, 58);
}
input:focus{
    outline: none;
    border-color: #555;
    
}
form div { 
    margin-bottom: 1rem; 
}