<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="styleLogin.css">
</head>
<body>
  <div class="container">

    <div class="left-panel">
      <div class="logo-icon"></div>
      <div class="left-content">
        <h1>UNER</h1>
        <p>Facultad de Ciencias de la Administración</p>
      </div>
    </div>

    <div class="right-panel">
      
        
        <h2>Iniciar sesion</h2>

        <div>
          <input type="text" id="user" name="user" placeholder="Nombre de usuario" required>
        </div>

        <div>
          <input type="password" id="password" name="password" placeholder="Contraseña" required>
        </div>
        <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
        <div>
          <p id="message"></p>
          <button type="submit">Acceder</button>
        </div>
      </form>
    </div>

  </div>

  <script src="script.js"></script>
</body>
</html>