<aside class="app-sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#" data-view="public/views/dashboard-page/dashboard.html" class="nav-link active">
          <i class="bi bi-speedometer2 nav-icon"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-people nav-icon"></i>
          <span class="nav-text">Estudiantes</span>
        </a>
      </li>

      <li class="nav-item has-submenu">
        <div class="nav-link submenu-toggle">
          <i class="bi bi-journal-bookmark nav-icon"></i>
          <span class="nav-text">Cursos</span>
          <i class="bi bi-chevron-down arrow"></i>
        </div>
        <ul class="submenu">
          <li><a class="menu-link" href="#">Listado de Cursos</a></li>
          <li><a href="cursos-estados.html">Estados de Curso</a></li>
        </ul>
      </li>
      <li class="nav-item has-submenu">
        <div class="nav-link submenu-toggle">
          <i class="bi bi-pencil-square nav-icon"></i>
          <span class="nav-text">Inscripciones</span>
          <i class="bi bi-chevron-down arrow"></i>
        </div>
        <ul class="submenu">
          <li><a class="nav-link" href="#" data-view="public/views/inscripciones-page/inscripciones.html">Nueva Inscripción</a></li>
          <li><a href="#">Historial / Estados</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-person-gear nav-icon"></i>
          <span class="nav-text">Configuración Usuarios</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
<div class="sidebar-overlay" id="sidebarOverlay"></div>
